<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.excellent.knowbookcommon.dao.TopicMapper">
  <resultMap id="BaseResultMap" type="com.excellent.knowbookcommon.model.pojo.Topic">
    <id column="topic_id" jdbcType="VARCHAR" property="topicId" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="topic_name" jdbcType="VARCHAR" property="topicName" />
    <result column="topic_info" jdbcType="VARCHAR" property="topicInfo" />
    <result column="topic_picture" jdbcType="VARCHAR" property="topicPicture" />
    <result column="topic_praise" jdbcType="INTEGER" property="topicPraise" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    topic_id, id, label, topic_name, topic_info, topic_picture, topic_praise, user_id, 
    create_time, create_user, update_time, update_user, deleted
  </sql>
  <select id="selectByExample" parameterType="com.excellent.knowbookcommon.model.pojo.TopicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from topic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from topic
    where topic_id = #{topicId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from topic
    where topic_id = #{topicId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.excellent.knowbookcommon.model.pojo.Topic">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into topic (topic_id, label, topic_name, 
      topic_info, topic_picture, topic_praise, 
      user_id, create_time, create_user, 
      update_time, update_user, deleted
      )
    values (#{topicId,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, #{topicName,jdbcType=VARCHAR}, 
      #{topicInfo,jdbcType=VARCHAR}, #{topicPicture,jdbcType=VARCHAR}, #{topicPraise,jdbcType=INTEGER}, 
      #{userId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{deleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.excellent.knowbookcommon.model.pojo.Topic">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="topicId != null">
        topic_id,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="topicName != null">
        topic_name,
      </if>
      <if test="topicInfo != null">
        topic_info,
      </if>
      <if test="topicPicture != null">
        topic_picture,
      </if>
      <if test="topicPraise != null">
        topic_praise,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="topicId != null">
        #{topicId,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="topicName != null">
        #{topicName,jdbcType=VARCHAR},
      </if>
      <if test="topicInfo != null">
        #{topicInfo,jdbcType=VARCHAR},
      </if>
      <if test="topicPicture != null">
        #{topicPicture,jdbcType=VARCHAR},
      </if>
      <if test="topicPraise != null">
        #{topicPraise,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.excellent.knowbookcommon.model.pojo.TopicExample" resultType="java.lang.Long">
    select count(*) from topic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update topic
    <set>
      <if test="record.topicId != null">
        topic_id = #{record.topicId,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.label != null">
        label = #{record.label,jdbcType=VARCHAR},
      </if>
      <if test="record.topicName != null">
        topic_name = #{record.topicName,jdbcType=VARCHAR},
      </if>
      <if test="record.topicInfo != null">
        topic_info = #{record.topicInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.topicPicture != null">
        topic_picture = #{record.topicPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.topicPraise != null">
        topic_praise = #{record.topicPraise,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update topic
    set topic_id = #{record.topicId,jdbcType=VARCHAR},
      id = #{record.id,jdbcType=INTEGER},
      label = #{record.label,jdbcType=VARCHAR},
      topic_name = #{record.topicName,jdbcType=VARCHAR},
      topic_info = #{record.topicInfo,jdbcType=VARCHAR},
      topic_picture = #{record.topicPicture,jdbcType=VARCHAR},
      topic_praise = #{record.topicPraise,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      deleted = #{record.deleted,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.excellent.knowbookcommon.model.pojo.Topic">
    update topic
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="topicName != null">
        topic_name = #{topicName,jdbcType=VARCHAR},
      </if>
      <if test="topicInfo != null">
        topic_info = #{topicInfo,jdbcType=VARCHAR},
      </if>
      <if test="topicPicture != null">
        topic_picture = #{topicPicture,jdbcType=VARCHAR},
      </if>
      <if test="topicPraise != null">
        topic_praise = #{topicPraise,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where topic_id = #{topicId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.excellent.knowbookcommon.model.pojo.Topic">
    update topic
    set id = #{id,jdbcType=INTEGER},
      label = #{label,jdbcType=VARCHAR},
      topic_name = #{topicName,jdbcType=VARCHAR},
      topic_info = #{topicInfo,jdbcType=VARCHAR},
      topic_picture = #{topicPicture,jdbcType=VARCHAR},
      topic_praise = #{topicPraise,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER}
    where topic_id = #{topicId,jdbcType=VARCHAR}
  </update>
</mapper>