<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.excellent.knowbookcommon.dao.TopicMapper">
  <resultMap id="BaseResultMap" type="com.excellent.knowbookcommon.model.pojo.Topic">
    <id column="topic_id" jdbcType="VARCHAR" property="topicId" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="topic_name" jdbcType="VARCHAR" property="topicName" />
    <result column="topic_picture" jdbcType="VARCHAR" property="topicPicture" />
    <result column="topic_praise" jdbcType="INTEGER" property="topicPraise" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="deleted" jdbcType="VARCHAR" property="deleted" />
    <result column="label" jdbcType="VARCHAR" property="label" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.excellent.knowbookcommon.model.pojo.Topic">
    <result column="topic_info" jdbcType="LONGVARCHAR" property="topicInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    topic_id, id, topic_name, topic_picture, topic_praise, user_id, create_time, create_user, 
    update_time, update_user, deleted, label
  </sql>
  <sql id="Blob_Column_List">
    topic_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from topic
    where topic_id = #{topicId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from topic
    where topic_id = #{topicId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.excellent.knowbookcommon.model.pojo.Topic">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into topic (topic_id, topic_name, topic_picture, 
      topic_praise, user_id, create_time, 
      create_user, update_time, update_user, 
      deleted, label, topic_info
      )
    values (#{topicId,jdbcType=VARCHAR}, #{topicName,jdbcType=VARCHAR}, #{topicPicture,jdbcType=VARCHAR}, 
      #{topicPraise,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, #{topicInfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.excellent.knowbookcommon.model.pojo.Topic">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="topicId != null">
        topic_id,
      </if>
      <if test="topicName != null">
        topic_name,
      </if>
      <if test="topicPicture != null">
        topic_picture,
      </if>
      <if test="topicPraise != null">
        topic_praise,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="topicInfo != null">
        topic_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="topicId != null">
        #{topicId,jdbcType=VARCHAR},
      </if>
      <if test="topicName != null">
        #{topicName,jdbcType=VARCHAR},
      </if>
      <if test="topicPicture != null">
        #{topicPicture,jdbcType=VARCHAR},
      </if>
      <if test="topicPraise != null">
        #{topicPraise,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="topicInfo != null">
        #{topicInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.excellent.knowbookcommon.model.pojo.Topic">
    update topic
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="topicName != null">
        topic_name = #{topicName,jdbcType=VARCHAR},
      </if>
      <if test="topicPicture != null">
        topic_picture = #{topicPicture,jdbcType=VARCHAR},
      </if>
      <if test="topicPraise != null">
        topic_praise = #{topicPraise,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="topicInfo != null">
        topic_info = #{topicInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where topic_id = #{topicId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.excellent.knowbookcommon.model.pojo.Topic">
    update topic
    set id = #{id,jdbcType=INTEGER},
      topic_name = #{topicName,jdbcType=VARCHAR},
      topic_picture = #{topicPicture,jdbcType=VARCHAR},
      topic_praise = #{topicPraise,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR},
      topic_info = #{topicInfo,jdbcType=LONGVARCHAR}
    where topic_id = #{topicId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.excellent.knowbookcommon.model.pojo.Topic">
    update topic
    set id = #{id,jdbcType=INTEGER},
      topic_name = #{topicName,jdbcType=VARCHAR},
      topic_picture = #{topicPicture,jdbcType=VARCHAR},
      topic_praise = #{topicPraise,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR}
    where topic_id = #{topicId,jdbcType=VARCHAR}
  </update>
</mapper>